@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #ffffff;
}

table {
  border: none;
  border-radius: 26;
  border-collapse: collapse;
}

td,
th {
  padding: 15px ;
  border: solid 1 white;
}

th {
  font-weight: 500;
}

td {
  text-align: center;
  vertical-align: middle;
}
/* .table_actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10;
} */

